.container {
    max-width: 600px;
    min-width: 100vh;   
    margin: 0 auto;
    padding: 0 15px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.container > .header {
    height: 60px;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
}
 
.header > a {
    color :black;
    text-decoration: none;
}

.container> .main {
    padding-top: 10px;
}

.container > .footer {
    padding : 100px 0;
    color : gray;
}