.searchbar_container {
    display: flex;
    gap : 10px;
    margin-bottom: 20px;
}

.searchbar_container > input {
    flex: 1;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 50px;
}

.searchbar_container > button {
    width: 55px;
    border-radius: 5px;
    border: none;
    background-color: rgb(37,147,255);
    color: white;
    cursor: pointer;
}